<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EchoelmusicAUv3</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).AudioUnitViewController</string>
		<key>AudioComponents</key>
		<array>
			<dict>
				<key>name</key>
				<string>Echoelmusic Technologies: EchoelmusicAUv3</string>
				<key>description</key>
				<string>Bio-Reactive Ambient Generator</string>
				<key>manufacturer</key>
				<string>Echo</string>
				<key>type</key>
				<string>augn</string>
				<key>subtype</key>
				<string>echl</string>
				<key>version</key>
				<integer>10000</integer>
				<key>sandboxSafe</key>
				<true/>
				<key>tags</key>
				<array>
					<string>Generators</string>
					<string>Synthesizers</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
